body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.santamariaworld.com/optimized/maximum/globalassets/_recipes/next-mex/veggie-tacos-next.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin: 0;
    animation: blink 2s infinite;
    font-style: italic;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.main-content {
    padding: 20px;
    font-size: 30px;
    font-style: italic; /*Explore Recipes*/
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 30px;  /*Get meals... */
    font-weight: bold;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 30px; /* 2025 student */
    font-style: italic;

}
